# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
Aiagent/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
